<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="mb-3">
        <label for="firstLastName" class="form-label">Ad Soyad</label>
        <input formControlName="firstLastName" type="text" class="form-control" placeholder="Ad Soyad"
          [ngClass]="{'is-invalid':(firstLastName?.dirty || firstLastName?.touched)&&firstLastName?.errors}"
          id="firstLastName" aria-describedby="firstLastNameHelp">
        <div *ngIf="(firstLastName?.dirty || firstLastName?.touched)&&firstLastName?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="firstLastName?.errors?.maxlength">
            ad ve soyad maksimum {{firstLastName?.errors?.maxlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="firstLastName?.errors?.minlength">
            ad ve soyad minimum {{firstLastName?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="firstLastName?.errors?.required">
            ad ve soyad boş olamaz
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input formControlName="username" type="text" class="form-control" placeholder="Kullanıcı Adı" id="username"
          [ngClass]="{'is-invalid':(username?.dirty || username?.touched)&&username?.errors}"
          aria-describedby="usernameHelp">
        <div *ngIf="(username?.dirty || username?.touched)&&username?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="username?.errors?.maxlength">
            kullanıcı adı maksimum {{username?.errors?.maxlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="username?.errors?.minlength">
            kullanıcı adı minimum {{username?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="username?.errors?.required">
            kullanıcı adı boş olamaz
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Eposta Adresi</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Eposta Adresi" id="email"
          [ngClass]="{'is-invalid':(email?.dirty || email?.touched)&&email?.errors}" aria-describedby="emailHelp">
        <div *ngIf="(email?.dirty || email?.touched)&&email?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="email?.errors?.maxlength">
            eposta adresi maksimum {{email?.errors?.maxlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="email?.errors?.minlength">
            eposta adresi minimum {{email?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="email?.errors?.required">
            eposta adresi boş olamaz
          </div>
          <div *ngIf="email?.errors?.email">
            geçersiz eposta adresi
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input formControlName="password" type="password"
          [ngClass]="{'is-invalid':(password?.dirty || password?.touched)&&password?.errors}" placeholder="Şifre"
          class="form-control" id="password">
        <div *ngIf="(password?.dirty || password?.touched)&&password?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="password?.errors?.minlength">
            şifre minimum {{password?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="password?.errors?.required">
            şifre boş olamaz
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="repassword" class="form-label">Şifre Tekrar</label>
        <input formControlName="rePassword" type="password" placeholder="Şifre Tekrarı" class="form-control"
          [ngClass]="{'is-invalid':(rePassword?.dirty || rePassword?.touched)&&rePassword?.errors}" id="repassword">
        <div *ngIf="(rePassword?.dirty || rePassword?.touched)&&rePassword?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="rePassword?.errors?.minlength">
            şifre tekrarı minimum {{rePassword?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="rePassword?.errors?.required">
            şifre tekrarı boş olamaz
          </div>
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="agreement">
        <label class="form-check-label" for="agreement">Kullanıcı sözleşmesini okudum</label>
      </div>
      <button type="submit" class="btn btn-primary">Kaydol</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
