<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="mb-3">
        <label for="firstLastName" class="form-label">Ad Soyad</label>
        <input formControlName="firstLastName" type="text" class="form-control" placeholder="Ad Soyad"
          id="firstLastName" aria-describedby="firstLastNameHelp">
        <div id="firstLastNameHelp" class="form-text text-danger">

        </div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input formControlName="username" type="text" class="form-control" placeholder="Kullanıcı Adı" id="username"
          aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text text-danger">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Eposta Adresi</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Eposta Adresi" id="email"
          aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text text-danger">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input formControlName="password" type="password" placeholder="Şifre" class="form-control" id="password">
        <div id="emailHelp" class="form-text text-danger">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="repassword" class="form-label">Şifre Tekrar</label>
        <input formControlName="rePassword" type="password" placeholder="Şifre Tekrarı" class="form-control"
          id="repassword">
        <div id="emailHelp" class="form-text text-danger">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="agreement">
        <label class="form-check-label" for="agreement">Kullanıcı sözleşmesini okudum</label>
      </div>
      <button type="submit" class="btn btn-primary">Kaydol</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
