<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <!-- Username Start -->
      <div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı Veya Eposta</label>
        <input formControlName="usernameOrEmail" type="text" class="form-control"
          placeholder="Kullanıcı Adı Veya Eposta" id="username"
          [ngClass]="{'is-invalid':(usernameOrEmail?.dirty || usernameOrEmail?.touched)&&usernameOrEmail?.errors}"
          aria-describedby="usernameHelp">
        <!-- Username Errors Start -->
        <div *ngIf="(usernameOrEmail?.dirty || usernameOrEmail?.touched)&&usernameOrEmail?.errors"
          id="firstLastNameHelp" class="form-text text-danger">
          <div *ngIf="usernameOrEmail?.errors?.maxlength">
            kullanıcı adı veya eposta maksimum {{usernameOrEmail?.errors?.maxlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="usernameOrEmail?.errors?.minlength">
            kullanıcı adı veya eposta minimum {{usernameOrEmail?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="usernameOrEmail?.errors?.required">
            kullanıcı adı veya eposta boş olamaz
          </div>
        </div>
        <!-- Username Errors End -->
      </div>
      <!-- Username End -->

      <!-- Password Start -->
      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input formControlName="password" type="password"
          [ngClass]="{'is-invalid':(password?.dirty || password?.touched)&&password?.errors}" placeholder="Şifre"
          class="form-control" id="password">
        <!-- Password Errors Start -->
        <div *ngIf="(password?.dirty || password?.touched)&&password?.errors" id="firstLastNameHelp"
          class="form-text text-danger">
          <div *ngIf="password?.errors?.minlength">
            şifre minimum {{password?.errors?.minlength.requiredLength}} karakter olabilir
          </div>
          <div *ngIf="password?.errors?.required">
            şifre boş olamaz
          </div>
        </div>
        <!-- Password Errors End -->
      </div>
      <!-- Password End -->
      <button type="submit" class="btn btn-primary">Giriş yap</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
